.VPHome {
	.VPHomeHero {
		.name {
			@media (min-width: 640px) {
				max-width: 100%;
			}
		}
	}
}

.btn {
	&__test {
	  padding: 3px 8px;
	  border: 1px solid black;
	  border-radius: 8px;
	  background: $test;
	}
}